<%= render :partial => "shared/login"%>

<h1>Products</h1>

<% for product in @products %>
  <div class="product">
    <h2><%= link_to product.name, product %></h2>
    <div class="details">
      <%= number_to_currency(product.price) %>
      <% if logged_in? %>
         |
        <%= link_to "Add to Cart", carts_path(:product_id => product.id), :method => "post", :confirm => "Are you sure?" %>
      <% end %>
    </div>
  </div>
<% end %>

<% if logged_in? && current_user.cart.present? %>
  <p><%= link_to "Go to Cart", current_user.cart %></p>
<% end %>
